<div class="wrapper">
  <div class="container">

    <div class="row">
      <% if params[:search].present? == true %>
        <% if @locations.present? %>
        <table>
          <tr>
            <th></th>
            <th>Movie</th>
            <th></th>
            <th>Address</th>
            <th></th>
          </tr>

          <% @locations.each do |location| %>
            <tr>
              <td></td>
              <% film_title = location.scenes.pluck(:title)[0]%>
              <td><%= link_to film_title, location %>,</td>
              <td></td>
              <td><%= location.address %></td>

             </tr>
          <% end %>
        </table>

        <% else %>
          <p>"There are no movie location near your location"</p>
        <% end %>
      <% end %>
    </div>
    <div class="row">
<!-- Map preview if no search given -->
       <% if params[:search].present? == false %>
            <div class="col-md-4 col-md-offset-2" id="poster">
<!--               check if poster is available -->
              <% if @movieAPIdata.poster == "http://images.rottentomatoescdn.com/images/redesign/poster_default.gif" %>
                <b>Poster currently unavailable</b>
              <% else %> 
                <p>
                  <a href="http://on-the-scene.herokuapp.com/geolocations/<%= @preview.id %>">
                    <img src=<%= @movieAPIdata.poster %>>
                  </a>
                </p>
              <% end %>           
            </div>
            <div class="GeoDetails">
                <b>Film:</b>
                <a href="http://on-the-scene.herokuapp.com/geolocations/<%= @preview.id %>">
                <%= @preview.scenes.pluck(:title)[0]%>
                </a>
                <br><b>Address:</b>
                <%= @preview.address %>

                <%= render 'map' %>


            </div>
       <% end %>
    </div>
  </div>
</div>
