<div class="container">

  <div class="MovieSelected">
    <h1>
      <p><%= @location.scenes.pluck(:title)[0]%></p>
    </h1>
  </div>

  <div class="MovieData">
    <div class="Poster">
<!--               check if poster is available -->
      <% if @movieAPIdata.poster == "http://images.rottentomatoescdn.com/images/redesign/poster_default.gif" %>
        <b>Poster currently unavailable</b>
      <% else %> 
        <p><img src=<%= @movieAPIdata.poster %>></p>
      <% end %>
    </div>

    <div class="MovieDetails">
      <br><strong>Film Rating:</strong>   <%= @movieAPIdata.rating %><br>
      <br><strong>Year Released:</strong> <%= @movieAPIdata.year %><br>
      <br><strong>Year Runtime:</strong> <%= @movieAPIdata.runtime %> minutes<br>
      <p><%= @movieAPIdata.synopsis %></p>
      <br><br>
       <!-- <i> User Input and filter results go here</i> -->
      <br><br>
<!--       <p>Movie Director will go here</p>
      <p>Movie Rating will go here</p> -->
      <p><a href=<%= @movieAPIdata.rt_link %>>Visit the Rotten Tomatoes Page</a></p>
    </div>
  </div>

  <div class="GeoDetails">
      <p><b>Address:</b>
      <%= @location.address %></p>
    <%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@location.latitude}%2C#{@location.longitude}" %>

        <% total = 0 %>
        <% @location.nearbys(0.25).each do |location| %>
          <% total += 1 %>
        <% end %>

        <% if total.to_i != 0  %>
          <p><h3>Nearby locations within walking distance</h3></p>
        <% end %>

        <ul>
        <% @location.nearbys(0.25).each do |location| %>
        <li><strong><%=location.scenes.pluck(:title)[0]%></strong><br>
          <%= link_to location.address, geolocation_path(location) %> (<%= location.distance.round(2) %> miles)</li>


    <% end %>
    </ul>
  </div>


</div>
