<!DOCTYPE html>
<html>
<head>
  <title>On The Scene</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

    <div class="userInput">
      <h1>On the Scene</h1>
      <%= form_tag geolocations_path, :method => :get do %>
        <p>
          <%= text_field_tag :search, params[:search] %>
          <%= submit_tag "Search Address", :name => nil %>
        </p>
      <% end %>
    </div>

<%= yield %>

</body>
</html>
